.card{
-fx-background-color: #faf9f6;
-fx-background-radius:20;
-fx-border-radius:20;
-fx-effect: dropshadow(gaussian,
rgba(0,0,0,0.12),
18,
0.2,
0,
6);
}
.chart-bar {
    -fx-background-radius: 30;
    -fx-bar-fill: linear-gradient(#4caf50, #087f23);
    -fx-padding: 2;
}
.combo{
-fx-background-color:#faf9f6;
-fx-border-color:#faf9f6;
-fx-border-radius:20;
-fx-background-radius:20;
-fx-effect: dropshadow(gaussian,
rgba(0,0,0,0.12),
18,
0.2,
0,
6);
}
.bpoxshadow{
 -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0.2, 5, 5);
}

.chart-legend {
    -fx-padding: 14 10 14 10;
}

.chart-legend-item {
    -fx-padding: 8 28 8 28;
}

.chart-legend-item-symbol {
    -fx-padding: 5;
}

.small-card {
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-background-color: linear-gradient(
        to bottom right,
        #1f2937,
        #111827
    );
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 18, 0.25, 0, 6);
    -fx-padding: 14;
}


.card-title {
    -fx-text-fill: #e5e7eb;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.card-value {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}


.card-icon {
    -fx-background-color: transparent;
    -fx-opacity: 0.85;
}

.chart-series-line {
    -fx-stroke: #FF7043;
    -fx-stroke-width: 1.5px;
}


.chart-line-symbol {
    -fx-background-color: transparent, transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}


.chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom, rgba(255, 112, 67, 0.2), transparent);
}


.chart-plot-background {
    -fx-background-color: transparent;
}
.axis {
    -fx-tick-label-fill: #666666;
    -fx-font-size: 10px;
}

.axis-label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

 .minus-line {
     -fx-stroke: #ff3333 !important;
 }

 .plus-line {
     -fx-stroke: #22c55e !important;
 }
  .nav-step-button {
      -fx-visibility: hidden;
      -fx-opacity: 0;
      -fx-background-color: rgba(0, 0, 0, 0.4);
      -fx-text-fill: white;
      -fx-background-radius: 40;
      -fx-cursor: hand;
      -fx-padding: 10 15;
      -fx-font-weight: bold;
      -fx-font-size: 16px;
  }


  .side-hover-trigger:hover .nav-step-button {
      -fx-visibility: visible;
      -fx-opacity: 1;
  }


  .nav-step-button:hover {
       -fx-background-color: rgba(0, 0, 0, 0.3);
      -fx-scale-x: 1.1;
      -fx-scale-y: 1.1;
  }


  .side-hover-trigger {
      -fx-background-color: transparent;
  }


  .card-item {
      -fx-background-color: #ffffff;
      -fx-background-radius: 10;
      -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1);
  }

.nav-step-button {
    -fx-background-color: rgba(0, 0, 0, 0.15);
    -fx-text-fill: #333333;
    -fx-background-radius: 50%;
}
.axis-tick-label {
    -fx-tick-label-visible: true !important;
}


.axis {
    -fx-tick-label-visible: true !important;
}


.chart-alternative-column-label, .axis-tick-label {
    -fx-font-size: 9px;
}




